<app-navbar></app-navbar>

<div class="container mt-5">
  <h1>Welcome to the Application</h1>
  <p>Access various features using the navigation bar above.</p>
</div>

<!-- Chat Modal -->
<div
  class="modal fade"
  id="chatModal"
  tabindex="-1"
  aria-labelledby="chatModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Chat</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Chat UI goes here...</p>
      </div>
    </div>
  </div>
</div>
