<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="wrapper">
    <div class="title"><span>change Password Form</span></div>
    <form [formGroup]="changeData">
      <div class="row">
        <i class="fas fa-user"></i>
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          name="email"
          required
        />
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input
          type="password"
          placeholder="oldPassword"
          formControlName="oldPassword"
          name="oldPassword"
          required
        />
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input
          type="password"
          placeholder="changePassword"
          formControlName="changePassword"
          name="changePassword"
          required
        />
      </div>

      <div class="row button">
        <input type="submit" (click)="changePassword()" />
      </div>
      <div class="signup-link">
        <!-- <a class="goesLogin" [routerLink]="['/login']">Login Now</a> -->
      </div>
    </form>
  </div>
</div>
