.profile-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire area */
}
/* .cart-icon .fa-shopping-cart {
  font-size: 24px;
}

.cart-icon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
} */

.cart-icon {
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
 
}
