<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand fw-bold text-primary">ShopSavvy</a>
    <!-- Toggle Button for Mobile View -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" [routerLink]="'/org/home'"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="currentRole === 'User'"
            class="nav-link text-dark fw-semibold"
            routerLink="/org/users"
            >MarketPlace</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" routerLink="/org/profile"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="currentRole === 'Admin'"
            class="nav-link text-dark fw-semibold"
            [routerLink]="'/product/add-product'"
            >Add-Product</a
          >
        </li>
      </ul>

      <!-- User Actions -->
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <span class="navbar-text text-secondary me-3">
            Welcome, <span class="fw-bold text-primary">{{ userName }}</span>
            <br />
            Role: <span class="fw-bold">{{ currentRole }}</span>
          </span>
        </li>
        <li *ngIf="currentRole === 'User'" class="nav-item position-relative">
          <div (click)="goToCart()" class="cart-icon position-relative">
            <i class="fas fa-shopping-cart fa-lg text-dark"></i>
            <span
              class="badge bg-danger rounded-circle cart-badge position-absolute top-0 start-100 translate-middle"
            >
              {{ cartCaunt }}
            </span>
          </div>
        </li>
        <li class="nav-item">
          <img
            [src]="usersData.profileImage"
            (error)="
              usersData.profileImage =
                'https://avatars.githubusercontent.com/u/93993478?v=4'
            "
            alt="Profile Image"
            class="profile-image rounded-circle me-3"
            (click)="profile()"
          />
        </li>
        <li class="nav-item">
          <button class="btn btn-danger btn-sm px-3" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
