<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">
                {{ isResettingPassword ? "Reset Password" : "Forgot Password" }}
              </h2>

              <form
                *ngIf="!isResettingPassword"
                [formGroup]="emailForm"
                (ngSubmit)="sendResetLink()"
              >
                <!-- Email Field -->
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                    formControlName="email"
                  />
                  <label for="email">Your Email</label>
                  <div
                    *ngIf="
                      emailForm.get('email')?.invalid &&
                      emailForm.get('email')?.touched
                    "
                    class="text-danger"
                  >
                    Please enter a valid email address.
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="emailForm.invalid"
                  >
                    Send Reset Link
                  </button>
                </div>
              </form>

              <!-- <form
                *ngIf="isResettingPassword"
                [formGroup]="resetPasswordForm"
                (ngSubmit)="resetPassword()"
              >
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    placeholder="Enter new password"
                    formControlName="newPassword"
                  />
                  <label for="newPassword">New Password</label>
                  <div
                    *ngIf="
                      resetPasswordForm.get('newPassword')?.invalid &&
                      resetPasswordForm.get('newPassword')?.touched
                    "
                    class="text-danger"
                  >
                    Password is required.
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmNewPassword"
                    placeholder="Confirm your new password"
                    formControlName="confirmNewPassword"
                  />
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <div
                    *ngIf="
                      resetPasswordForm.get('confirmNewPassword')?.invalid &&
                      resetPasswordForm.get('confirmNewPassword')?.touched
                    "
                    class="text-danger"
                  >
                    Confirm password is required.
                  </div>
                  <div
                    *ngIf="
                      resetPasswordForm.hasError('passwordMismatch') &&
                      resetPasswordForm.get('confirmNewPassword')?.touched
                    "
                    class="text-danger"
                  >
                    Passwords do not match.
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="resetPasswordForm.invalid"
                  >
                    Reset Password
                  </button>
                </div>
              </form> -->

              <!-- Toggle between the forms -->
              <!-- <p class="text-center text-muted mt-4 mb-0">
                {{
                  isResettingPassword
                    ? "Remembered your password?"
                    : "Already have a reset link?"
                }}
                <a class="fw-bold text-body" (click)="toggleForm()">
                  <u>{{
                    isResettingPassword
                      ? "Login here"
                      : "Proceed to reset password"
                  }}</u>
                </a>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
