<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form [formGroup]="LoginData">
      <div class="row">
        <i class="fas fa-user"></i>
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          name="email"
          required
        />
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
          required
        />
      </div>
      <div class="d-flex gap-4 align-items-center justify-content-center">
        <div class="pass">
          <a [routerLink]="['/forgetPassword']">Forgot password?</a>
        </div>
        <div class="change">
          <a [routerLink]="['/changePassword']">Change password?</a>
        </div>
      </div>
      <div class="row button">
        <input type="submit" (click)="loginData()" />
      </div>
      <div class="signup-link">
        Account Not Created? <a [routerLink]="['/SignUp']">SignUp now</a>
      </div>
    </form>
  </div>
</div>
