.card {
  border-radius: 15px;
}

.card-body h4 {
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #007bff;
}

.img-fluid {
  border: 2px solid #007bff;
  padding: 5px;
}

.container {
  max-width: 800px;
}

p {
  margin-bottom: 0.5rem;
}
.change-password-btn {
  background: linear-gradient(45deg, #007bff, #007bff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.change-password-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.change-password-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
